@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}
h4 {
  visibility: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #2e2424;
  color: #1e0505c2;
  overflow-x: hidden;
  margin: 0;
}
.dream-container {
  background-color: #fafafaf3;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.dream-container.show-nav {
  transform: rotate(-22deg);
}

.dream-circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.dream-circle {
  background-color: #656363;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.dream-container.show-nav .dream-circle {
  transform: rotate(-70deg);
}

.dream-circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.dream-circle button:focus {
  outline: none;
}

.dream-circle button#open {
  left: 60%;
}

.dream-circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.dream-container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 12px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

nav a {
  color: #fafafa;
  text-decoration: none;
  transition: all 0.5s;
}

nav a:hover {
  color: #FF7979;
  font-weight: bold;
}

.dream-content img {
  max-width: 100%;
}

.dream-content {
  max-width: 1000px;
  margin: 50px auto;
}


.dream-content h1 {
  margin: 0;
}

.dream-content small {
  color: #555;
  font-style: italic;
}

.dream-content p {
  color: #1a1919;
  line-height: 1.5;
}

.photo {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.bg {
  background: url('./photo/myDog.webp') no-repeat center center/cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-out, filter 0.5s ease-out;
  filter: blur(30px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.5s ease;
}
.container-scene {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative; }

.magic {

  border: 0;
  border-radius: 3px;
  font-size: 16px;
  padding: 12px 20px;
  cursor: pointer;
  position: absolute;
  background-color: rgb(229, 191, 20);
  top: 20px;
  letter-spacing: 1px;
  box-shadow: 0 3px rgba(144, 49, 5, 0.5);
  z-index: 100;
}

.magic:focus {
  outline: none;
}

.magic:active {
  box-shadow: none;
  transform: translateY(2px);
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 500px;
  width: 500px;
  position: relative;
  transition: 0.4s ease;
}

.boxes.big {
  width: 600px;
  height: 600px;
}

.boxes.big .box {
  transform: rotateZ(360deg);
}

.box {
  background-image: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExcnRiemhyOHQzdGY0dWpkMTFoaXB4eHl4d3dtaGpzYmh3Y3Z3ZHZqcSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/vVzH2XY3Y0Ar6/giphy.gif');
  background-repeat: no-repeat;
  background-size: 500px 500px;
  position: relative;
  height: 125px;
  width: 125px;
  transition: 0.4s ease;
}

.box::after {
  content: '';
  background-color: #f6e58d;
  position: absolute;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  transform: skewY(45deg);
}

.box::before {
  content: '';
  background-color: #f9ca24;
  position: absolute;
  bottom: -15px;
  left: 8px;
  height: 15px;
  width: 100%;
  transform: skewX(45deg);
}
.container-gallery {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  /* -webkit-transition: all 700ms ease-in; */
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
